<div class="max-w-sm mx-auto">
  <h2 class="font-bold text-4xl my-10">Sign up</h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), class: "max-w-sm mx-auto") do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="mb-5">
      <%= f.label :name, class: "block text-sm font-medium text-gray-900" %><br />
      <%= f.text_field :name, autofocus: true, autocomplete: "name", class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" %>
    </div>

    <div class="mb-5">
      <%= f.label :email, class: "block text-sm font-medium text-gray-900" %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" %>
    </div>

    <div class="mb-5">
      <%= f.label :password, class: "block text-sm font-medium text-gray-900" %>
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "new-password", class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" %>
    </div>

    <div class="mb-5">
      <%= f.label :password_confirmation, class: "block text-sm font-medium text-gray-900" %><br />
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" %>
    </div>

    <div class="flex items-start mb-5">
      <%= f.submit "Sign up", class: "text-white bg-[#5fb523] hover:bg-[#3778c2] focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center" %>
    </div>
  <% end %>
</div>
