<div class="w-full bg-[#3778c2] items-center max-w-screen-xlmx-auto p-5 gap-20 flex">
  <%= link_to "<", groups_path, class: "text-white text-2xl bg-[#3778c2] font-medium sm:w-auto px-5 py-2.5 text-center" %>
  <h2 class="text-2xl bg-[#3778c2] text-white text-center ml-4"><%= @group.name %></h2>
</div>

<div>
  <div>
    <h2 class="text-2xl bg-[#3778c2] text-white text-center py-3">Total Purchases: <%=number_with_precision(@group.purchases.sum(:amount), precision: 2) %> €</h2>

    <div class="flex bg-[#5fb523] justify-between px-10">
      <%= link_to "Edit this Group", edit_group_path(@group), class: "text-white bg-[#5fb523] hover:bg-[#3778c2] focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm sm:w-auto px-5 py-4 text-center" %>
      <%= button_to "Delete this Group", group_path(@group), method: :delete, class: "text-white bg-[#5fb523] hover:bg-[#3778c2] focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm sm:w-auto px-5 py-4 text-center" %>
    </div>

    <% @group.purchases.order(created_at: :desc).each do |purchase| %>
      <%= link_to group_purchase_path(@group), class: "block" do %>
        <div class="flex flex-col gap-2 text-xl p-8 justify-between bg-white m-3">
          <h3 class="font-bold"><%= purchase.name %></h3>
          <p>Amount: <%= number_with_precision(purchase.amount, precision: 2) %> €</p>
          <p>Date: <%= purchase.created_at.to_date %></p>
        </div>
      <% end %>
    <% end %>
  </div>

  <%= link_to "New Purchase", new_group_purchase_path(@group), class: "text-white bg-[#5fb523] hover:bg-[#3778c2] focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium text-xl w-full py-10 text-center fixed bottom-0 left-0" %>
</div>
