<div class="mx-auto md:w-2/3 w-full flex">
  <div class="mx-auto">
    <% @group.purchases.order(created_at: :desc).each do |purchase| %>
      <div>
        <h3><%= purchase.name %></h3>
        <p>Amount: <%= purchase.amount %></p>
        <p>Date: <%= purchase.created_at.to_date %></p>
      </div>
    <% end %>

    <%= link_to "Edit this Purchase", edit_purchase_path(@purchase), class: "text-white bg-[#5fb523] hover:bg-[#3778c2] focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-[#5fb523] dark:focus:ring-blue-800 ml-6" %>
    <div class="inline-block ml-2">
      <%= button_to "Delete this Purchase", purchase_path(@purchase), method: :delete, class: "text-white bg-[#5fb523] hover:bg-[#3778c2] focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-[#5fb523] dark:focus:ring-blue-800 ml-6" %>
    </div>
    <%= link_to "<", purchases_path, class: "text-white bg-[#5fb523] hover:bg-[#3778c2] focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-[#5fb523] dark:focus:ring-blue-800 ml-6" %>
  </div>
</div>
