<!DOCTYPE html>
<html>
  <head>
    <title>Rails Purse</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="bg-[#F1F1F1]">
    <main class="container mx-auto flex flex-col">
      <% if alert %>
        <p style="color: red"><%= alert %></p>
      <% end %>
      <% if notice %>
        <p style="color: green"><%= notice %></p>
      <% end %>

      <%= yield %>
    </main>
  </body>
</html>

