<!DOCTYPE html>
<html>
  <head>
    <title>Rails Purse</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <main class="container mx-auto px-5 flex flex-col">
      <nav class="bg-green-500">
        <ul class="flex">
          <li class="mr-5"><%= link_to "Home", root_path %></li>
          <% if user_signed_in? %>
            <li class="mr-5"><%= link_to "Log out", destroy_user_session_path, method: :delete %></li>
          <% else %>
            <li class="mr-5"><%= link_to "Log in", new_user_session_path %></li>
            <li class="mr-5"><%= link_to "Sign up", new_user_registration_path %></li>
          <% end %>
        </ul>
      </nav>

      <% if alert %>
        <p style="color: red"><%= alert %></p>
      <% end %>
      <% if notice %>
        <p style="color: green"><%= notice %></p>
      <% end %>

      <%= yield %>
    </main>
  </body>
</html>

